p.overflow {
  background-color: silver;
  border: 1px solid;
  height: 150px;
  overflow: auto;
}
/*
 overflow : (부모)요소의 크기 이상으로 (자식)내용이 넘쳤을 때 처리
    
overflow : visible => 넘친 부분 그대로 보여주기 (기본) 
overflow : hidden  => 넘치는 부분 잘라내고, 보여주지 않도록 함  
overflow : scroll  => 넘친 부분을 스크롤바를 이용하여 볼 수 있도록 해줌(가로,세로 스크롤 제공)
overflow : auto    => 넘친 부분을 스크롤바를 이용하여 볼 수 있도록 해줌(넘친 부분에 대한 스크롤 제공)
*/
